h2{
    margin: 0;
}
.container{
    width: 400px;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
}
.container::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    background-color: rgb(209, 193, 255);
    transform: rotate(45deg);
    left: -180px;
    bottom: 40px;
    z-index: 1;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}
.container::after {
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    background-color: rgb(209, 193, 255);
    transform: rotate(45deg);
    right: -180px;
    top: 40px;
    z-index: 1;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}
.container .header{
    z-index: 2;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:1rem .5rem;
}
.container .header ion-icon{
    font-size: 2rem;

}
.container .main{
    z-index: 2;
    width: 100%;
    padding: .5rem;
    height: auto;
}
.container .main>form{
    width: 100%;
}
.container .main>form>div:nth-child(1),.container .main>form>div:nth-child(2),.container .main>form>div:nth-child(3){
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 0 .5rem 0;
    border-bottom: 2px solid var(--dynamic-color);
    margin-bottom: 1rem;
    border-radius: 10px;

}
.container .main>form>div>ion-icon{
    font-size: 1.2rem;
    width: 10%;
}
.container .main>form>div>input{
    width: 90%;
    border: none;
    outline: none;
    background: none;
}

.container .main>form button{
    color: var(--dynamic-color);
    padding: .5rem 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
    background: transparent;
    font-weight: 500;
    outline: none;
    border: 2px solid var(--dynamic-color);
}
.container .main>form button:hover{
    color: white;
    background-color: var(--dynamic-color);
    transition: .5s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);

}




