.tooltip {
    cursor: pointer;
    position: relative; }
    .tooltip:after, .tooltip:before {
      opacity: 0;
      pointer-events: none;
      bottom: 100%;
      left: 50%;
      position: absolute;
      z-index: 10;
      transform: translate(-50%, 10px);
      transform-origin: top;
      transition: all 0.18s ease-out 0.18s; }
  
  .tooltip:after {
    background-color: #f5f5f5;
    box-shadow: 0 0 3px #ddd;
    content: attr(data-tooltip);
    padding: 10px;
    white-space: nowrap;
    margin-bottom: 11px; }
  
  .tooltip:before {
    width: 0;
    height: 0;
    content: "";
    margin-bottom: 6px; }
  
  .tooltip:hover:before,
  .tooltip:hover:after {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, 0); }
  
  [data-tooltip-pos="up"]:before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #f5f5f5;
    margin-bottom: 6px; }
  
  [data-tooltip-pos="down"]:before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #f5f5f5;
    margin-top: 6px; }
  
  [data-tooltip-pos="right"]:before {
    border-top: 6px solid transparent;
    border-right: 6px solid #f5f5f5;
    border-bottom: 6px solid transparent;
    margin-left: 6px; }

.open-btn {
    font-size: 1.7rem;
    display: none;
    cursor: pointer;
}

.close-btn {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}


.btn {
    color: white;
    background-color: #7C5CFC;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: .5rem 1rem;
}

#dashboard-layout {
    width: 100%;
    min-height: 100vh;
}

.dashboard-layout {
    width: 100%;
    min-height: 100vh;
}

.dashboard-layout .container {
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: rgb(215, 210, 210);
}



/* -------------------- sidebar */


.dashboard-layout .container #sidebar {
    background-color: white;
    padding: 1rem 0;
    width: 270px;
    min-height: 100vh;
    overflow-y: scroll;
    position: relative;
}

.dashboard-layout .container #sidebar.active {
    position: absolute;
    z-index: 9999;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    top: 0;
    left: 0;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#sidebar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#sidebar .open-close-btn-section {
    position: relative;
}

#sidebar .open-close-btn-section>div {
    position: absolute;
    right: 10px;
    top: -10px;
}



#sidebar .logo {
    width: 150px;
    height: 150px;
    margin: 2rem auto 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    color: white;
    border-radius: 50%;
    background-color: #7C5CFC;
}



#sidebar .menu ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: .5rem;
}

#sidebar .menu ul li {
    list-style: none;
    color: #596780;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 14px 1rem;
    border-radius: 10px;
    transition: all .4s;
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
    margin: .2rem 0;
}

#sidebar .menu ul li:nth-child(1) {
    background-color: #7C5CFC;
    color: white;
}

#sidebar .menu ul li:hover {
    background-color: #7C5CFC;
    color: white;
}

#sidebar .menu ul li ion-icon {
    font-size: 1.5rem;
}


/* -------------------- main content */


.main-content {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    min-height: 100vh;
    padding: 1rem;
}
.main-content .content{
    margin-bottom: 1rem;
}

.main-content .top-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: auto;
    padding: 1rem 2rem;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.main-content .top-header .indesktop{
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.inmobile{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-radius: 20px;
    margin-top: 1rem;
    border: 3px solid #7C5CFC;
    overflow: hidden;
    display: none !important;
}

.inmobile input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    padding: .5rem 1rem;
    /* min-width: 300px; */
    width: 95%;
}

.inmobile button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    background-color: #7C5CFC;
}

.inmobile button ion-icon {
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
}

.main-content .top-header .searchbar {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-radius: 20px;
    border: 3px solid #7C5CFC;
    overflow: hidden;

}

.main-content .top-header .searchbar input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    padding: .5rem 1rem;
    min-width: 300px;
}

.main-content .top-header .searchbar button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    background-color: #7C5CFC;
}

.main-content .top-header .searchbar button ion-icon {
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
}

.main-content .content .table-group {
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
}

.main-content .content .table-group .head {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(215, 210, 210);
}

.main-content .content .table-group .head .btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.shorting {
    margin-right: 1rem;
    padding: .5rem 1rem;
    border: 2px solid #7C5CFC;
    outline: none;
    background: none;
    color: #7C5CFC;
}

.shorting>option {
    color: black;
}

.main-content .content .table-group>div .table-identity {
    width: 100%;
    height: auto;
}

.main-content .content .table-group>div .table-identity ul {
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid rgb(215, 210, 210);

}

.main-content .content .table-group>div .table-identity ul li {
    display: flex;
    align-items: center;
}

.main-content .content .table-group>div .table-identity ion-icon {
    font-size: 1.5rem;
    margin-right: .5rem;
}

.main-content .content .table-group>div .table-identity li:nth-child(1) ion-icon {
    color: gray;
}

.main-content .content .table-group>div .table-identity li:nth-child(2) ion-icon {
    color: blue;
}

.main-content .content .table-group>div .table-identity li:nth-child(3) ion-icon {
    color: green;
}

.main-content .content .table-group>div .table-identity li:nth-child(4) ion-icon {
    color: red;
}
.main-content .content .table-group>div .table-identity li:nth-child(5) ion-icon {
    color: yellow;
}

.main-content .content .table-group .tables {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: start;
    padding: 1rem 0;
}

.main-content .content .table-group .tables .table {
    width: 80px;
    height: 80px;
    display: flex;
    cursor: pointer;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: .5rem .5rem;
}
h1 {
    margin: 0 !important;
  font-weight: normal;

}
.main-content .content .table-group .tables .table h1 {
    font-size: 2rem;
    color: white;
}


@media only screen and (max-width: 1000px) {
    .inmobile{
        display: flex !important;
    }
    .main-content .top-header .searchbar {
        display: none;
    }
    .dashboard-layout .container #sidebar {
        background: white;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        max-width: 270px;
        height: 100vh;
        padding: 20px 0;
        -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
        box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
        overflow-y: scroll;
        -ms-scroll-chaining: none;
        overscroll-behavior: contain;
        visibility: hidden;
        -webkit-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
        z-index: 20;
    }

    .dashboard-layout .container #sidebar.active {
        left: 0;
        visibility: visible;
      }

    .open-btn,
    .close-btn {
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 700px){
    .main-content .top-header .searchbar input[type="text"] {
        min-width: auto;
    }
    .main-content .content .table-group>div .table-identity {
       display: none;
    } 
    .main-content .content .table-group .head {
        flex-direction: column;
    } 
    .main-content .content .table-group .head h1{
        width: 100%;
        text-align: center;
    }
    .main-content .content .table-group .head .btn-group {
       padding-top: 1rem;
    }
    .main-content .content .table-group {
        padding: 2rem 1rem;
    }  
}